body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}
/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*
==============================================================================================================
    Over riding the default changes from bootswatch/boot strap
==============================================================================================================
*/

/* Modified the Jumbotron */
.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}

tr {
    height: 30px;
}

.headshot {
    max-width: 70px;
    border: 1px solid #222;
    padding: 3px;
    margin-left: 15Px;
    margin-top: 10Px;
}

.headshotLogo {
    max-width: 60px;
    border: 1px solid #222;
    padding: 3px;
    margin-left: 5Px;
    margin-top: 5Px;
    margin-right: 10Px;
}

.menu {
    font-size: 12px;
}

    .menu li {
        list-style-type: none;
    }

        .menu li.active {
            font-weight: bold;
        }

        .menu li a {
            color: #eee;
        }

#sidebar {
    background: #2a2c36;
    color: #eee;
    position: fixed;
    height: 100%;
    width: 150px;
    overflow: hidden;
    left: 0;
    margin: 0;
    -moz-transition: left ease .25s;
    -o-transition: left ease .25s;
    -webkit-transition: left ease .25s;
    transition: left ease .25s;
}

    #sidebar.hide-sidebar {
        left: -150px;
        -moz-transition: left ease .25s;
        -o-transition: left ease .25s;
        -webkit-transition: left ease .25s;
        transition: left ease .25s;
    }

#wrapper {
    margin: 0 0 0 150px;
    -moz-transition: margin-left ease .25s;
    -o-transition: margin-left ease .25s;
    -webkit-transition: margin-left ease .25s;
    transition: margin-left ease .25s;
}

    #wrapper.hide-sidebar {
        margin-left: 0;
        -moz-transition: margin-left ease .25s;
        -o-transition: margin-left ease .25s;
        -webkit-transition: margin-left ease .25s;
        transition: margin-left ease .25s;
    }


#map {
    width: 100%;
    height: 600px;
}

.product-container:hover {
    border-style: solid;
    border-width: 2px;
    border-color: #ac0c0c;
}

.section {
    text-align: center;
    display: inline-block;
            
}

.sectionproduct {
    text-align: center;
    display: inline-block;
    
}
    .section > div.wrap {
        clear: both;
    }

    .section div {
        position: relative;
        float: left;
        padding: 0px 7px;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 350Px;

    }

        .section div img {
            width: 80px;
            height: 80px;
            -webkit-box-shadow: 0px 0px 7px #7FFF00;
            -moz-box-shadow: 0px 0px 7px #7FFF00;
            box-shadow: 0px 0px 7px #7FFF00;
            -webkit-border-radius: 8px;
            -moz-border-radius: 8px;
            -khtml-border-radius: 8px;
            border-radius: 8px;
        }

        .section div span {
            position: absolute;
            left: 27%;
            width: 70%;
            margin: 0px auto 0 auto;
            background: black;
            color: limegreen;
            text-align: center;
            border: 1px solid orange;
        }
.big-green-stars > i {
      font-size: 4.0em;
      color: green;
      text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    }

.tabletdspan {
            position: absolute;
            left: 27%;
            width: 70%;
            margin: 0px auto 0 auto;
            background: black;
            color: limegreen;
            text-align: center;
            border: 1px solid orange;
        }